<section class="c-photoalbum-section col-lg-7 col-12 mb-lg-10">
   <div class="o-content">
      <h1 class="h1">
         Fotogalerie
      </h1>
      <div class="my-md-10 my-5">
         <div class="row mb-md-10 mb-5">
            <div class="col-md-6">
               <a href="07.0_gallery.html" class="trainer text-center mb-10">
                  <div class="trainer__img mb-4">
                     <img src="images/content/treners.jpeg" alt="" loading="lazy">
                  </div>
                  <h4 class="h3 mb-2">
                     Turnaj v Rusku
                  </h4>
               </a>
            </div>
            <div class="col-md-6">
               <a href="07.0_gallery.html" class="trainer text-center mb-10">
                  <div class="trainer__img mb-4">
                     <img src="images/content/clanek.jpeg" alt="" loading="lazy">
                  </div>
                  <h4 class="h3 mb-2">
                     Turnaj v Rusku
                  </h4>
               </a>
            </div>
            <div class="col-md-6">
               <a href="07.0_gallery.html" class="trainer text-center mb-10">
                  <div class="trainer__img mb-4">
                     <img src="images/content/treners.jpeg" alt="" loading="lazy">
                  </div>
                  <h4 class="h3 mb-2">
                     Turnaj v Rusku
                  </h4>
               </a>
            </div>
            <div class="col-md-6">
               <a href="07.0_gallery.html" class="trainer text-center mb-10">
                  <div class="trainer__img mb-4">
                     <img src="images/content/treners.jpeg" alt="" loading="lazy">
                  </div>
                  <h4 class="h3 mb-2">
                     Turnaj v Rusku
                  </h4>
               </a>
            </div>
            <div class="col-md-6">
               <a href="07.0_gallery.html" class="trainer text-center mb-10">
                  <div class="trainer__img mb-4">
                     <img src="images/content/treners.jpeg" alt="" loading="lazy">
                  </div>
                  <h4 class="h3 mb-2">
                     Turnaj v Rusku
                  </h4>
               </a>
            </div>
         
         </div>
      </div>
  </div>
</section>