<section class="c-about-section">
   <div class="d-flex justify-content-between flex-wrap">
      <div class="col-lg-7 col-12 mb-10">
         <div class="o-content">
            <h1 class="h1">
               Fotogalerie
            </h1>
            <div class="my-md-10 my-5">
               <div class="row mb-md-10 mb-5">
                  <div class="col-md-6">
                     <a href="07.0_gallery.html" class="trainer text-center mb-10">
                        <div class="trainer__img mb-4">
                           <img src="images/content/treners.jpeg" alt="" loading="lazy">
                        </div>
                        <h4 class="h3 mb-2">
                           Turnaj v Rusku
                        </h4>
                     </a>
                  </div>
                  <div class="col-md-6">
                     <a href="07.0_gallery.html" class="trainer text-center mb-10">
                        <div class="trainer__img mb-4">
                           <img src="images/content/clanek.jpeg" alt="" loading="lazy">
                        </div>
                        <h4 class="h3 mb-2">
                           Turnaj v Rusku
                        </h4>
                     </a>
                  </div>
                  <div class="col-md-6">
                     <a href="07.0_gallery.html" class="trainer text-center mb-10">
                        <div class="trainer__img mb-4">
                           <img src="images/content/treners.jpeg" alt="" loading="lazy">
                        </div>
                        <h4 class="h3 mb-2">
                           Turnaj v Rusku
                        </h4>
                     </a>
                  </div>
                  <div class="col-md-6">
                     <a href="07.0_gallery.html" class="trainer text-center mb-10">
                        <div class="trainer__img mb-4">
                           <img src="images/content/treners.jpeg" alt="" loading="lazy">
                        </div>
                        <h4 class="h3 mb-2">
                           Turnaj v Rusku
                        </h4>
                     </a>
                  </div>
                  <div class="col-md-6">
                     <a href="07.0_gallery.html" class="trainer text-center mb-10">
                        <div class="trainer__img mb-4">
                           <img src="images/content/treners.jpeg" alt="" loading="lazy">
                        </div>
                        <h4 class="h3 mb-2">
                           Turnaj v Rusku
                        </h4>
                     </a>
                  </div>
               
               </div>
            </div>
        </div>
      </div>
      <aside class="col-lg-4 col-12">
         <div class="c-newsboard__kalendar">
            <h3 class="h3 mb-6">Kalendář</h3>
            <a href="#" class="c-newsboard__post">
               <div class="date">22.12.</div>
               <div class="c-newsboard__post-icon">
                 <img src="images/ico/play-button.svg" alt="">
               </div>
               <div class="c-newsboard__post-info">
                  <span>Olomouc</span>
                  <h4 class="h4">
                     Vánoční Posezení s trenéry a rodiči v naší klubovně
                  </h4>
               </div>
            </a>
            <a href="#" class="c-newsboard__post">
               <div class="date">22.12.</div>
               <div class="c-newsboard__post-icon">
                 <img src="images/ico/play-button.svg" alt="">
               </div>
               <div class="c-newsboard__post-info">
                  <span>Olomouc</span>
                  <h4 class="h4">
                     Vánoční Posezení s trenéry a rodiči v naší klubovně
                  </h4>
               </div>
            </a>
            <a href="#" class="c-newsboard__post">
               <div class="date">22.12.</div>
               <div class="c-newsboard__post-icon">
                 <img src="images/ico/play-button.svg" alt="">
               </div>
               <div class="c-newsboard__post-info">
                  <span>Olomouc</span>
                  <h4 class="h4">
                     Vánoční Posezení s trenéry a rodiči v naší klubovně
                  </h4>
               </div>
            </a>
            <a href="#" class="c-newsboard__post">
               <div class="date">22.12.</div>
               <div class="c-newsboard__post-icon">
                 <img src="images/ico/play-button.svg" alt="">
               </div>
               <div class="c-newsboard__post-info">
                  <span>Olomouc</span>
                  <h4 class="h4">
                     Vánoční Posezení s trenéry a rodiči v naší klubovně
                  </h4>
               </div>
            </a>
            <a class="link d-block" href="#">kompletní kalendář</a>
         </div>
         <div class="c-newsboard__program">
            <h3 class="h3 mb-6">program kempu</h3>
            <div class="c-newsboard__program-item">
               <div class="date">5.2.</div>
               <div class="px-5 pt-1">
                  <h4 class="h2 mb-1">Název Kempu</h4>
                  <p class="mb-4 d-block">Zaměření kempu a jeho program lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <ul>
                     <li>
                        <span>9:00 - 10:00</span> Off - ice
                     </li>
                     <li>
                        <span>10:00 - 11:00</span> led
                     </li>
                     <li>
                        <span>11:00 - 12:00</span> oběd
                     </li>
                     <li>
                        <span>13:00 - 15:00</span> video porada
                     </li>
                     <li>
                        <span>15:00 - 17:00</span> led
                     </li>
                     <li>
                        <span>17:00 - 18:00</span> video porada
                     </li>
                     <li>
                        <span>18:00 - 19:00</span> večeře
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </aside>
   </div>
</section>