<section class="c-about-section">
   <div class="d-flex justify-content-between flex-wrap">
      <div class="col-lg-7 col-12 mb-10">
         <div class="o-content">
            <h2 class="h3">
               Co nabízíme
            </h2>
            <ul>
               <li>
                  <strong>Termín:</strong> 10.06.2022
               </li>
               <li>
                  <strong>Místo:</strong> ZS Moutnice
               </li>
               <li>
                  <strong>Cena:</strong> 	1 400 Kč
               </li>
               <li>
                  <strong>Platba</strong> Cena je splatná na místě v den konání akce.
               </li>
            </ul>
            <p>
               <strong>SHS Hockey:</strong> Projekt, který dává možnost hráčům pracovat nad rámec klubové aktivity. Zaměřujeme se na komplexní rozvoj hráčů ledního hokeje s důrazem na jednotlivé schopnosti, dovednosti a jejich správné provedení. Cílem je rozvoj hokejových dovedností a jejich transfer do samotné hry. <a href="#">Chceme hráče neustále</a> posouvat na lepší úroveň a pomoct jim v jejich hokejovém růstu. Pro hráče pořádáme jednotlivé tréninky, campy, soustředění, utkání, turnaje, ale i další zajímavé akce.
            </p>
            <p>
               <strong>SHS Hockey:</strong> Projekt, který dává možnost hráčům pracovat nad rámec klubové aktivity. Zaměřujeme se na komplexní rozvoj hráčů ledního hokeje s důrazem na jednotlivé schopnosti, dovednosti a jejich správné provedení. Cílem je rozvoj hokejových dovedností a jejich transfer do samotné hry. <a href="#">Chceme hráče neustále</a> posouvat na lepší úroveň a pomoct jim v jejich hokejovém růstu. Pro hráče pořádáme jednotlivé tréninky, campy, soustředění, utkání, turnaje, ale i další zajímavé akce.
            </p>
            <h3>Časový program akce: </h3>
            <ul>
               <li>
                  10:00 – 11:00 / trénink na ledě
               </li>
               <li>
                  11:15 – 12:15 / trénink na ledě
               </li>
            </ul>
            <div class="row g-10">
               <div class="col-md-5">
                  <h2 class="h3">Poznámka:</h2>
                  <p>
                     Na tuto akci se můžou přihlásit hráči ročníku 2007 – 2014. V případě zájmu je nutná objednávka prostřednictvím rezervačního systému. Počet míst je omezen.
                  </p>
               </div>
               <div class="col-md-5">
                  <h2 class="h3">Dotazy:</h2>
                  <p>
                     Mgr. Luboš Voříšek / +420 606 332 012 / vorisek19@gmail.com.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <aside class="col-lg-4 col-12">
         <div class="c-newsboard__kalendar">
            <h3 class="h3 mb-6">Kalendář</h3>
            <a href="#" class="c-newsboard__post">
               <div class="date">22.12.</div>
               <div class="c-newsboard__post-icon">
                 <img src="images/ico/play-button.svg" alt="">
               </div>
               <div class="c-newsboard__post-info">
                  <span>Olomouc</span>
                  <h4 class="h4">
                     Vánoční Posezení s trenéry a rodiči v naší klubovně
                  </h4>
               </div>
            </a>
            <a href="#" class="c-newsboard__post">
               <div class="date">22.12.</div>
               <div class="c-newsboard__post-icon">
                 <img src="images/ico/play-button.svg" alt="">
               </div>
               <div class="c-newsboard__post-info">
                  <span>Olomouc</span>
                  <h4 class="h4">
                     Vánoční Posezení s trenéry a rodiči v naší klubovně
                  </h4>
               </div>
            </a>
            <a href="#" class="c-newsboard__post">
               <div class="date">22.12.</div>
               <div class="c-newsboard__post-icon">
                 <img src="images/ico/play-button.svg" alt="">
               </div>
               <div class="c-newsboard__post-info">
                  <span>Olomouc</span>
                  <h4 class="h4">
                     Vánoční Posezení s trenéry a rodiči v naší klubovně
                  </h4>
               </div>
            </a>
            <a href="#" class="c-newsboard__post">
               <div class="date">22.12.</div>
               <div class="c-newsboard__post-icon">
                 <img src="images/ico/play-button.svg" alt="">
               </div>
               <div class="c-newsboard__post-info">
                  <span>Olomouc</span>
                  <h4 class="h4">
                     Vánoční Posezení s trenéry a rodiči v naší klubovně
                  </h4>
               </div>
            </a>
            <a class="link d-block" href="#">kompletní kalendář</a>
         </div>
         <div class="c-newsboard__program">
            <h3 class="h3 mb-6">program kempu</h3>
            <div class="c-newsboard__program-item">
               <div class="date">5.2.</div>
               <div class="px-5 pt-1">
                  <h4 class="h2 mb-1">Název Kempu</h4>
                  <p class="mb-4 d-block">Zaměření kempu a jeho program lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <ul>
                     <li>
                        <span>9:00 - 10:00</span> Off - ice
                     </li>
                     <li>
                        <span>10:00 - 11:00</span> led
                     </li>
                     <li>
                        <span>11:00 - 12:00</span> oběd
                     </li>
                     <li>
                        <span>13:00 - 15:00</span> video porada
                     </li>
                     <li>
                        <span>15:00 - 17:00</span> led
                     </li>
                     <li>
                        <span>17:00 - 18:00</span> video porada
                     </li>
                     <li>
                        <span>18:00 - 19:00</span> večeře
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </aside>
   </div>
</section>