<div class="trainer text-center mb-10">
   <div class="trainer__img mb-4">
      <img src="images/content/treners.jpeg" alt="" loading="lazy">
   </div>
   <h3 class="h3 mb-2">Mgr. Luboš Voříšek</h3>
</div>