<div class="trainer text-center mb-10">
   <div class="trainer__img mb-4">
      <img src="images/content/treners.jpeg" alt="" loading="lazy">
   </div>
   <h3 class="h3 mb-2">Mgr. Luboš Voříšek</h3>
   <p class="p1">
      Jako hráč začínal v rodné Příbrami, ale již v mladém věku se vydal do Prahy a prošel celou mládeží týmu HC Sparta Praha. V dorostu vybojoval se svým týmem bronzovou medaili a o pár let později skončil s juniorským týmem na druhém místě. Poté začal působit v 1. a ve 2. lize v ČR. Momentálně je stále aktivním ligovým hráčem v týmu BK Havlíčkův Brod.
   </p>
</div>