<section class="c-newsboard-section mb-10">
   <div class="row g-10">
      <div class="col-xl-4">
         {% include "@components/calendar/calendar.twig" %}
         <a class="link" href="#">kompletní kalendář</a>
      </div>
      <div class="col-xl-4">
         <div class="c-newsboard__media">
            <h3 class="h3 mb-6">Foto a video</h3>
            <div class="row g-5">
               <div class="col-6">
                  <a class="c-newsboard__media-item" href="#">
                     <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                  </a>
               </div>
               <div class="col-6">
                  <a class="c-newsboard__media-item" href="#">
                     <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                  </a>
               </div>
               <div class="col-6">
                  <a class="c-newsboard__media-item" href="#">
                     <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                  </a>
               </div>
               <div class="col-6">
                  <a data-bs-toggle="modal" class=" c-newsboard__media-item c-newsboard__media-video" href="#">
                     <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                     <div id="modal" aria-labelledby="modal" class="modal-dialog modal-dialog-centered"></div>
                  </a>
               </div>
               <div class="col-6">
                  <a class="c-newsboard__media-item" href="#">
                     <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                  </a>
               </div>
               <div class="col-6">
                  <a class="c-newsboard__media-item" href="#">
                     <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                  </a>
               </div>
            </div>
         </div>
         <a class="link" href="#">Fotky a videa</a>
      </div>
      <div class="col-xl-4">
         {% include "@components/program/program.twig" %}
         <a class="link" href="#">Tréninkové programy</a>
      </div>
   </div>
</section>