.c-newsboard{
   &-section{
      padding-bottom: 40px;
      .program {
         @include media-breakpoint-down(lg){
            height: auto;
         }
      }
      .calendar{
         height: 100%;
         flex-direction: column;
         @include media-breakpoint-down(lg){
            height: auto;
         }
      }
     .link{
      border-top: 1px solid var(--color-gray);
      padding-top: 24px;
     }
   }
   &__media{
      height: 100%;
      @include media-breakpoint-down(lg){
         height: auto;
      }
      &-item{
         height: 135px;
         display: block;
         border-radius: 4px;
         overflow: hidden;
         @include media-breakpoint-down(xxl){
            height: 170px;
         }
         img{
            height: 100%;
            width: 100%;
            object-fit: cover;
         }
      }
      &-video{
         position: relative;
         &::after{
            content: '';
            position: absolute;
            background-color: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin:auto;
         }
         &::before{
            content:"";
            cursor: pointer;
            z-index:1;
            position:absolute;
            width:48px;
            height:48px;
            left:0;
            right:0;
            top:0;
            bottom:0;
            margin:auto;
            background-image:url("../images/ico/play-button.svg");
            background-repeat:no-repeat;
            background-size:contain;
            transition:all .3s;
           
         }
      }
   }
}
