<section class="c-about-section col-lg-7 col-12 mb-10">
   <div class="o-content">
      <h1 class="h1">
         O nás
      </h1>
      <p class="perex">
         Jsme projekt zaměřený na rozvoj individuálních dovedností pro hráče ročníku 2011 a 2012, jehož cílem je práce s detaily a zdokonalování dovedností jako je střelba a bruslení.
         <span>
            Zaměřujeme se na perfektní provedení každého pohybu, profesionální přístup zkušených trenérů, kvalitní tréninkový program nejen na ledové ploše.
         </span>
      </p>
      <h2 class="h3">
         Co nabízíme
      </h2>
      <ul>
         <li>
            Možnost kvalitního tréninku pro hráče z regionu s trenéry s bohatou hráčskou a odbornou zkušeností z reprezentačních juniorských výběrů či rozvojových programů českého hokeje.
         </li>
         <li>
            Zkvalitnění individuálních dovedností pod odborným dohledem
         </li>
         <li>
            Profesionální přístup celé organizace
         </li>
         <li>
            Kvalitní zázemí a stravování.
         </li>
      </ul>
      <div class="row g-10">
         <div class="col-md-5">
            <h2 class="h3">Co nabízíme</h2>
            <p>
               Vbřeznu 2022 s frekvencí tréninků jedenkrát týdně (pondělí)
            </p>
         </div>
         <div class="col-md-5">
            <h2 class="h3">Náš program</h2>
            <p>
               2x led, 1x suchá příprava, video příprava, oběd
            </p>
         </div>
      </div>
   </div>
</section>