<aside class="aside col-lg-4 col-12 mb-10 mt-lg-6">
   <div class="mb-10">
      {% include "@components/calendar/calendar.twig" %}
      <a class="link d-block" href="#">kompletní kalendář</a>
   </div>
   {% include "@components/program/program.twig" %}
</aside>