<section class="c-trainers-section col-lg-7 col-12 mb-10">
   <div class="o-content">
      <h1 class="h1">
         Trenéři
      </h1>
      <div class="my-md-10 my-5">
         <h2 class="h2">
            HLAVNÍ TRENÉR
         </h2>
         {% include "@components/trainer/trainer-2.twig" %}
         <h2 class="h2">
            TRENÉŘI
         </h2>
         <div class="row mb-md-10 mb-5">
            <div class="col-md-6">
               {% include "@components/trainer/trainer.twig" %}
            </div>
            <div class="col-md-6">
               {% include "@components/trainer/trainer.twig" %}
            </div>
            <div class="col-md-6">
               {% include "@components/trainer/trainer.twig" %}
            </div>
            <div class="col-md-6">
               {% include "@components/trainer/trainer.twig" %}
            </div>
            <div class="col-md-6">
               {% include "@components/trainer/trainer.twig" %}
            </div>
            <div class="col-md-6">
               {% include "@components/trainer/trainer.twig" %}
            </div>
         </div>
         <h2 class="h2">
            DALŠÍ PRACOVNÍCI
         </h2>
         <div class="row">
            <div class="col-md-6">
               {% include "@components/trainer/trainer.twig" %}
            </div>
            <div class="col-md-6">
               {% include "@components/trainer/trainer.twig" %}
            </div>
            <div class="col-md-6">
               {% include "@components/trainer/trainer.twig" %}
            </div>
         </div>
   </div>

  </div>
</section>