<div class="calendar">
   <h3 class="h3 mb-6">Kalendář</h3>
   <a href="#" class="calendar__item d-flex mb-10">
      <div class="date">22.12.</div>
      <div class="calendar__icon">
        <img src="images/ico/play-button.svg" alt="">
      </div>
      <div class="calendar__info">
         <span>Olomouc</span>
         <h4 class="h4">
            Vánoční Posezení s trenéry a rodiči v naší klubovně
         </h4>
      </div>
   </a>
   <a href="#" class="calendar__item d-flex mb-10">
      <div class="date">22.12.</div>
      <div class="calendar__icon">
        <img src="images/ico/play-button.svg" alt="">
      </div>
      <div class="calendar__info">
         <span>Olomouc</span>
         <h4 class="h4">
            Vánoční Posezení s trenéry a rodiči v naší klubovně
         </h4>
      </div>
   </a>
   <a href="#" class="calendar__item d-flex mb-10">
      <div class="date">22.12.</div>
      <div class="calendar__icon">
        <img src="images/ico/play-button.svg" alt="">
      </div>
      <div class="calendar__info">
         <span>Olomouc</span>
         <h4 class="h4">
            Vánoční Posezení s trenéry a rodiči v naší klubovně
         </h4>
      </div>
   </a>
   <a href="#" class="calendar__item d-flex mb-10">
      <div class="date">22.12.</div>
      <div class="calendar__icon">
        <img src="images/ico/play-button.svg" alt="">
      </div>
      <div class="calendar__info">
         <span>Olomouc</span>
         <h4 class="h4">
            Vánoční Posezení s trenéry a rodiči v naší klubovně
         </h4>
      </div>
   </a>
</div>
