<div class="program">
   <h3 class="h3 mb-6">program kempu</h3>
   <div class="program__item">
      <div class="date">5.2.</div>
      <div class="px-5 pt-1">
         <h4 class="h2 mb-1">Název Kempu</h4>
         <p class="mb-4 d-block">Zaměření kempu a jeho program lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
         <ul>
            <li>
               <span>9:00 - 10:00</span> Off - ice
            </li>
            <li>
               <span>10:00 - 11:00</span> led
            </li>
            <li>
               <span>11:00 - 12:00</span> oběd
            </li>
            <li>
               <span>13:00 - 15:00</span> video porada
            </li>
            <li>
               <span>15:00 - 17:00</span> led
            </li>
            <li>
               <span>17:00 - 18:00</span> video porada
            </li>
            <li>
               <span>18:00 - 19:00</span> večeře
            </li>
         </ul>
      </div>
   </div>
</div>