<section class="c-programs-section mb-10">
   <div class="o-content">
      <h1 class="h1">Tréninkové programy</h1>
      <div class="c-programs-section__inner mt-10">
         <div class="row g-8 c-programs__item">
            <div class="col-12 col-md-6 mb-2">
               <a href="09.0_article.html" class="c-programs__link">
                  <img src="images/content/program.jpeg" alt="">
               </a>
            </div>
            <div class="col-12 col-md-6 mb-2">
               <div class="c-programs__info">
                  <h2 class="h3">
                     SHS SKILLS HOCKEY TRAINING / 10.6.2022 – 10:00
                  </h2>
                  <ul>
                     <li>
                        <strong>Termín:</strong> 10.06.2022
                     </li>
                     <li>
                        <strong>Místo:</strong> ZS Moutnice
                     </li>
                     <li>
                        <strong>Cena:</strong> 	1 400 Kč
                     </li>
                  </ul>
                  <a class="link" href="09.0_article.html">Více informací</a>
               </div>
            </div>
         </div>
         <div class="row g-8 c-programs__item">
            <div class="col-12 col-md-6 mb-2">
               <a href="09.0_article.html" class="c-programs__link">
                  <img src="images/content/program.jpeg" alt="">
               </a>
            </div>
            <div class="col-12 col-md-6 mb-2">
               <div class="c-programs__info">
                  <h2 class="h3">
                     SHS SKILLS HOCKEY TRAINING / 10.6.2022 – 10:00
                  </h2>
                  <ul>
                     <li>
                        <strong>Termín:</strong> 10.06.2022
                     </li>
                     <li>
                        <strong>Místo:</strong> ZS Moutnice
                     </li>
                     <li>
                        <strong>Cena:</strong> 	1 400 Kč
                     </li>
                  </ul>
                  <a class="link" href="09.0_article.html">Více informací</a>
               </div>
            </div>
         </div>
         <div class="row g-8 c-programs__item">
            <div class="col-12 col-md-6 mb-2">
               <a href="09.0_article.html" class="c-programs__link">
                  <img src="images/content/program.jpeg" alt="">
               </a>
            </div>
            <div class="col-12 col-md-6 mb-2">
               <div class="c-programs__info">
                  <h2 class="h3">
                     SHS SKILLS HOCKEY TRAINING / 10.6.2022 – 10:00
                  </h2>
                  <ul>
                     <li>
                        <strong>Termín:</strong> 10.06.2022
                     </li>
                     <li>
                        <strong>Místo:</strong> ZS Moutnice
                     </li>
                     <li>
                        <strong>Cena:</strong> 	1 400 Kč
                     </li>
                  </ul>
                  <a class="link" href="09.0_article.html">Více informací</a>
               </div>
            </div>
         </div>
         <div class="row g-8 c-programs__item">
            <div class="col-12 col-md-6 mb-2">
               <a href="09.0_article.html" class="c-programs__link">
                  <img src="images/content/program.jpeg" alt="">
               </a>
            </div>
            <div class="col-12 col-md-6 mb-2">
               <div class="c-programs__info">
                  <h2 class="h3">
                     SHS SKILLS HOCKEY TRAINING / 10.6.2022 – 10:00
                  </h2>
                  <ul>
                     <li>
                        <strong>Termín:</strong> 10.06.2022
                     </li>
                     <li>
                        <strong>Místo:</strong> ZS Moutnice
                     </li>
                     <li>
                        <strong>Cena:</strong> 	1 400 Kč
                     </li>
                  </ul>
                  <a class="link" href="09.0_article.html">Více informací</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>