.c-programs{
   &__item{
      border-bottom: 0.0625rem solid var(--color-gray);
      padding: 16px 0;
      margin-bottom: 16px;
   }
   &__info{
      ul{
         margin-bottom: 16px;
      }
      li{
         margin-bottom: 8px !important;
      }
   }
}