<section class="c-contacts-section col-lg-7 col-12 mb-10">
   <div class="o-content">
      <h1 class="h1">
         Kontakty
      </h1>
      <div class="my-md-10 my-5">
         <h2 class="h2">
            MANAŽER A HLAVNÍ TRENÉR
         </h2>
         <div class="trainer text-center mb-10">
            <div class="trainer__img mb-4">
               <img src="images/content/treners.jpeg" alt="" loading="lazy">
            </div>
            <div class="date date--small m-auto mb-4">SHS Hockey</div>
            <h4 class="h3 mb-2">
               Mgr. Luboš Voříšek
            </h4>
            <ul>
               <li>
                  <strong>Telefon:</strong> <a href="tel:+420606332012">+420 606 332 012</a>
               </li>
               <li>
                  <strong>E-mail:</strong> <a href="mailto:vorisek19@gmail.com">vorisek19@gmail.com</a>
               </li>
               <li>
                  <strong>IČO:</strong> 76588220
               </li>
            </ul>
         </div>
         <h2 class="h2">
            SPOLUPRACOVNÍCI
         </h2>
         <div class="row mb-md-10 mb-5">
            <div class="col-md-6">
               <div class="trainer text-center mb-10">
                  <div class="trainer__img mb-4">
                     <img src="images/content/treners.jpeg" alt="" loading="lazy">
                  </div>
                  <h4 class="h3 mb-2">
                     Mgr. Luboš Voříšek
                  </h4>
                  <ul>
                     <li>
                        <strong>Telefon:</strong> <a href="tel:+420606332012">+420 606 332 012</a>
                     </li>
                     <li>
                        <strong>E-mail:</strong> <a href="mailto:vorisek19@gmail.com">vorisek19@gmail.com</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-md-6">
               <div class="trainer text-center mb-10">
                  <div class="trainer__img mb-4">
                     <img src="images/content/treners.jpeg" alt="" loading="lazy">
                  </div>
                  <h4 class="h3 mb-2">
                     Mgr. Luboš Voříšek
                  </h4>
                  <div class="date date--small">
                     Enjoy Hockey
                  </div>
                  <ul>
                     <li>
                        <strong>Telefon:</strong> <a href="tel:+420606332012">+420 606 332 012</a>
                     </li>
                     <li>
                        <strong>E-mail:</strong> <a href="mailto:vorisek19@gmail.com">vorisek19@gmail.com</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
  </div>
</section>