<section class="c-partners-section text-center">
   <div class="container">
      <h2 class="h3 mb-4">Partneři</h2>
      <ul class="row justify-content-around align-items-center">
         <li class="col-auto mt-5">
            <a href="">
               <img src="images/partners/1.png" loading="lazy" alt="" />
           </a>
         </li>
         <li class="col-auto mt-5">
            <a href="">
               <img src="images/partners/1.png" loading="lazy" alt="" />
           </a>
         </li>
         <li class="col-auto mt-5">
            <a href="">
               <img src="images/partners/3.png" loading="lazy" alt="" />
           </a>
         </li>
         <li class="col-auto mt-5">
            <a href="">
               <img src="images/partners/4.png" loading="lazy" alt="" />
           </a>
         </li>
         <li class="col-auto mt-5">
            <a href="">
               <img src="images/partners/5.png" loading="lazy" alt="" />
           </a>
         </li>
         <li class="col-auto mt-5">
            <a href="">
               <img src="images/partners/6.png" loading="lazy" alt="" />
           </a>
         </li>
         <li class="col-auto mt-5">
            <a href="">
               <img src="images/partners/7.png" loading="lazy" alt="" />
           </a>
         </li>
       </ul>
   </div>
</section>