<header class="header">
   <div class="container">
      <nav class="navbar navbar-expand-lg">
         <a href="#" class="header__name u-text-shadow-1">
            HOKEJOVÁ AKADEMIE
            <span>LITOMĚŘICE</span>
         </a>
         <button class="c-header__opener js-header__opener" type="button">
            <span></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link u-text-shadow-2" href="#">
                      O nás
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link u-text-shadow-2" href="#">
                     TRENÉŘI
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link u-text-shadow-2" href="#">
                     TRÉNINKOVÉ PROGRAMY
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link u-text-shadow-2" href="#">
                     Media
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link u-text-shadow-2" href="#">
                     Registrace
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link u-text-shadow-2" href="#">
                     KONTAKT
                  </a>
               </li>
            </ul>
            <div class="header__social">
               {% include "@components/social/social.twig" %}
               <a class="header__login" href="#">Přihlášení</a>
             </div>
         </div>
      </nav>
   </div>
</header>
