<footer class="footer">
   <div class="footer__img">
      <img src="images/players-bg.png" alt="">
   </div>
   <div class="container">
      <p>© 2022 Regionální Hokejová Akademie Litoměřice & <a href="#">eSports.cz</a>, s.r.o.</p>
   </div>
</footer>
