{% extends "@components/base/base.twig" %}

{% set title = "05.0_contacts" %}

{% block main %}
   <div class="container">
      <div class="wrapper-section">
         <div class="d-flex justify-content-between flex-wrap">
            {% include "@components/contacts-section/contacts-section.twig" %}
            {% include "@components/aside/aside.twig" %}
         </div>
         {% include "@components/partners-section/partners-section.twig" %}
      </div>
   </div>
{% endblock %}
