{% extends "@components/base/base.twig" %}

{% set title = "06.0_photoalbum" %}

{% block main %}
   <div class="container">
      <div class="wrapper-section">
         <div class="d-flex justify-content-between flex-wrap">
            {% include "@components/photoalbum-section/photoalbum-section.twig" %}
            {% include "@components/aside/aside.twig" %}
         </div>
      </div>
   </div>
{% endblock %}
