{% extends "@components/base/base.twig" %}

{% set title = "07.0_gallery" %}

{% block main %}
{% include "@components/topstory-section/topstory-section.twig" %}
   <div class="container">
      <div class="wrapper-section">
            <div class="d-flex justify-content-between flex-wrap">
               {% include "@components/article-section/article-section.twig" %}
               {% include "@components/aside/aside.twig" %}
            </div>
            {% include "@components/registration-section/registration-section.twig" %}
         {% include "@components/partners-section/partners-section.twig" %}
      </div>
   </div>
{% endblock %}
