.date{
  min-width: 71px;
  justify-content: center;
  padding: 7px 8px 5px 10px;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  border-radius: 4px;
  background: var(--color-orange);
  width: fit-content;
  color: var(--color-light);
  &--small{
    padding: 3px 12px 3px 12px;
    font-size: 16px;
    height: 30px;
  }
  @include media-breakpoint-down(md){
     padding: 5px 12px 4px 12px;
     font-size: 18px;
     height: 36px;
  }
}