<section class="c-registration-section">
   <div class="o-content">
       <h5 class="h1 text-center">REGISTRACE</h5>
      <div class="row">
         <div class="col-lg-6 m-auto">
          <form class="form" method="post" action="/">
            <label class="form__label"> JMÉNO</label>
            <div class="form__input">
               <input type="text"  required>
            </div>
            <label class="form__label">Adresa</label>
            <div class="form__input">
               <input type="text"  required>
            </div>
            <label class="form__label">rodné číslo</label>
            <div class="form__input">
               <input type="text"  required>
            </div>
            <label class="form__label">datum narození</label>
            <div class="form__input">
               <input type="date"  required>
            </div>
             <label class="form__label"> E-mail</label>
             <div class="form__input">
                <input type="email"  required>
             </div>
             <label class="form__label">Telefon</label>
             <div class="form__input">
                <input type="tel"  required>
             </div>
           
             <button class="form__btn" type="submit">ZAREGISTROVAT</button>
          </form>
         </div>
      </div>
   </div>
 </section>