<section class="c-registration-section">
   <div class="o-content">
       <h1 class="h1 text-center">REGISTRACE</h1>
      <div class="row">
         <div class="col-lg-6 m-auto">
          <form class="form" method="post" action="/">
            <label class="form__label">Váše JMÉNO a PŘÍJMENÍ</label>
            <div class="form__input input-name">
               <input type="text" value="martin tellinger" required>
            </div>
             <label class="form__label">Váš e - mail</label>
             <div class="form__input input-mail">
                <input type="email" value="martin@tellinger.cz" required>
             </div>
             <label class="form__label" for="">Heslo</label>
             <div class="form__input input-password">
                <input  type="password" required value="FakePSW" id="password">
                <img id="togglePassword" src="images/ico/view-show.svg" alt="" >
             </div>
             <label class="form__label" for="">ověření hesla</label>
             <div class="form__input input-password">
                <input  type="password" required value="FakePSW">
             </div>
             <button class="form__btn" type="submit">ZAREGISTROVAT</button>
          </form>
         </div>
      </div>
   </div>
 </section>