<section class="c-topstory-section">
   <div class="container">
      <a href="#" class="c-topstory__link">
         <div class="c-topstory__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <div class="c-topstory__info">
               <div class="date date--small mb-3">31.12.2021</div>
               <h1 class="h1 u-text-shadow-2">Náš společný rok v Akademii Litoměřice</h1>
            </div>
         </div>
      </a>
   </div>
</section>