<section class="c-gallery-section">
   <div class="mb-10">
      <div class="o-content">
         <h1 class="h1">
            Fotogalerie
         </h1>
         <div class="row g-md-6 g-3 js-gallery mb-10">
            <div class="col-lg-3 col-md-4 col-6">
             <figure>
                <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                   <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
             <figure>
                <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                   <img src="https://via.placeholder.com/306x216" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
             <figure>
                <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                   <img src="https://via.placeholder.com/306x216" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
             <figure>
                <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                   <img src="https://via.placeholder.com/306x216" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
             <figure>
                <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                   <img src="https://via.placeholder.com/306x216" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
             <figure>
                <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                   <img src="https://via.placeholder.com/306x216" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
             <figure>
                <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                   <img src="https://via.placeholder.com/306x216" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
             <figure>
                <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                   <img src="https://via.placeholder.com/306x216" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
             <figure>
                <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
                   <img src="https://via.placeholder.com/306x216" loading="lazy" alt="" />
                </a>
              </figure>
            </div>
          </div>
          <h2 class="h2">Videogalerie</h2>
          <div class="row g-md-6 g-3">
             <div class="col-md-6">
               <a class="d-block" href="https://www.youtube.com/embed/u0KpJZKeFTo">
                  <iframe class="d-block" width="100%" height="300px" src="https://www.youtube.com/embed/u0KpJZKeFTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>
             </div>
             <div class="col-md-6">
               <a class="d-block" href="https://www.youtube.com/embed/u0KpJZKeFTo">
                  <iframe class="d-block" width="100%" height="300px" src="https://www.youtube.com/embed/u0KpJZKeFTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>
             </div>
             <div class="col-md-6">
               <a class="d-block" href="https://www.youtube.com/embed/u0KpJZKeFTo">
                  <iframe class="d-block" width="100%" height="300px" src="https://www.youtube.com/embed/u0KpJZKeFTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>
             </div>
             <div class="col-md-6">
               <a class="d-block" href="https://www.youtube.com/embed/u0KpJZKeFTo">
                  <iframe class="d-block" width="100%" height="300px" src="https://www.youtube.com/embed/u0KpJZKeFTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>
             </div>
          </div>
     </div>
   </div> 
</section>